<section class="dashboard">
    <!--banner section-->
    <div class="container-fluid">
        <div class="bannerSection">
            <img src="./assets/images/johann-siemens-EPy0gBJzzZU-unsplash (1).jpg" alt="">
          
        </div>
        <div class="profilePic">
            <div class="imagContainer">
                <img src="./assets/images/alexander-hipp-iEEBWgY_6lA-unsplash.jpg" alt="">
            </div>

        </div>
    </div>
    <!--Profile details-->
    <div class="container-fluid">
        <div class="profileDetails ">
            <h3>Alexander Hipp</h3>
            <p>Software Engineer</p>
            <p class="text-secondary">Bangalore,560068, India</p>
        </div>
    </div>
</section>
