<section class="contactUs">
    <div class="container-fluid">
        <div class="container">
            <div class="boxContainer text-center">
                <h1>Contact Us</h1>
                <div class="box d-flex justify-content-around">

                    
                    <div class="emailDiv">
                        <form action="https://formsubmit.co/indira.majumder1707@gmail.com" method="post">
                            <input type="text" name="name" placeholder="Name" id="name" required>
                            <input type="email" name="email" placeholder="Email-id"  id="email" required>
                            <input type="text" name="subject" placeholder="Subject"  id="subject" required>
                            <textarea name="Message"  cols="30" rows="5" placeholder="Message" required></textarea>
                            <input type="hidden" name="_next" value="http://localhost:4200/contact">
                            <input type="hidden" name="_captcha" value="false">
                            <input type="hidden" name="_template" value="table">
                            
                            <button class="btn btn-outline-primary mt-2" type="submit">Send message <span><img src="./assets/send.png"  alt=""></span></button>
            
                        </form>
                    </div>
                    <div class="WhatsappUs">
                       <!-- <a class="btn btn-primary" href="https://web.whatsapp.com/">Whatsapp</a>-->
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
