section{
    
    margin-top: 6rem;
    h1{
        font-size: 56px;
    }
    p{
        font-size: 1.65rem;
    }
}
.container-fluid{
    padding-left: 6rem;
    padding-right: 6rem;
    
    .BannerSection{
        padding:1rem;
        display: flex;
        justify-content: space-between;
        gap:1rem;
    }
    .carouselSection{
        margin-top: 6rem;
        margin-bottom: 6rem;
        .sliderWrap{
            position: relative;
            overflow: hidden;
            height: 120px;
            .slider-main{
                position: absolute;
                width: 200%;
                .item{
                    display: inline-block;
                    width: 250px;
                    height:120px;
                    background-color: rgb(219, 120, 28);
                    position: relative;
                    margin:0 .65rem;
                    .text{
                        position: absolute;
                        top:50%;
                        left:50%;
                        transform: translate(-50%,-50%);
                        color: #fff;
                        font-weight: bolder;
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
            .prevBtn{
                position: absolute;
                left:17px;
                top:50%;
                transform: translate(-50%, -50%);
            }
            .nextBtn{
                position: absolute;
                right:-17px;
                top:50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}