<section class="blog">
    <div class="container-fluid">
        <div class="BannerSection  " >
            <div class="banner" style="height:500px;">
                <img src="./assets/images/2202_w023_n001_1945b_p1_1945.jpg" alt="" style="height: 100%;">
            </div>
            <div class="details">
                <h1>Design your Own</h1>
                <p>Design mobile apps, web apps, websites, and desktop software in minutes.
                    UI design has never been so simple. If you can use Google Slides or Powerpoint then you
                    can use Uizard!
                </p>
            </div>
        </div>
        <div class="carouselSection">
           <div class="sliderWrap">
                <div class="slider-main">
                    <div class="item">
                        <div class="text">1</div>
                    </div>
                    <div class="item">
                        <div class="text">2</div>
                    </div>
                    <div class="item">
                        <div class="text">3</div>
                    </div>
                    <div class="item">
                        <div class="text">4</div>
                    </div>
                    <div class="item">
                        <div class="text">5</div>
                    </div>
                    <div class="item">
                        <div class="text">6</div>
                    </div>
                    <div class="item">
                        <div class="text">7</div>
                    </div>
                </div>
                <div class="buttonArea">
                    <button class="prevBtn" appPrev>Prev</button>
                    <button class="nextBtn" appNext>Next</button>
                </div>
           </div>

        </div>
        <div class="cardSection"></div>
    </div>
</section>
