a{
    text-decoration: none;
    :hover{
        text-decoration: none;
    }
}

.list-unstyled li a {
   display: flex;
   column-gap: 5px;
   
    span .btn{
        padding-top: 0;
        padding-bottom: 0;
        font-size: 13px;
        /* padding: 6px; */
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        
    }
}