<footer class="w-100 py-4 flex-shrink-0">
    <div class="container py-4">
        <div class="row gy-4 gx-5">
            <div class="col-lg-2 col-md-6">
               <span> <img src="./assets/images/letter-u.png" alt="" style="width:30px;height:30px"></span><span class="fw-bold">Uizard</span>
                <p class="small text-muted mb-0">&copy; Uizard Technologies <br>
                    All rights reserved.. </p>
            </div>
            <div class="col-lg-3 col-md-6" style="font-size: 13px;">
                <h6 class="text-muted ">Uizard</h6>
                <ul class="list-unstyled text-muted">
                    <li><a class="text-dark" href="#">Product</a></li>
                    <li><a class="text-dark" href="#">AI Design</a></li>
                    <li><a class="text-dark " href="#"><span>Auto Designer</span> <span><button class="btn btn-warning fw-bold" style="font-size: 13px;"> new</button></span></a></li>
                    <li><a class="text-dark" href="#">UI Design</a></li>
                    <li><a class="text-dark" href="#">UI Themes</a></li>
                    <li><a class="text-dark" href="#">UI Templates</a></li>
                    <li><a class="text-dark" href="#">Mockups</a></li>
                    <li><a class="text-dark" href="#">Wireframing</a></li>
                    <li><a class="text-dark" href="#">Prototyping</a></li>
                  


                </ul>
            </div>
            <div class="col-lg-3 col-md-6" style="font-size: 13px;">
                <h6 class="text-muted ">Resources</h6>
                <ul class="list-unstyled text-muted">
                    <li><a class="text-dark" href="#">Blog</a></li>
                    <li><a class="text-dark" href="#">Help Center</a></li>
                    <li><a class="text-dark" href="#">Contact</a></li>
                    <li><a class="text-dark" href="#">About</a></li>
                    <li><a class="text-dark" href="#">Pricing</a></li>
                    <li><a class="text-dark" href="#">Career</a></li>
                    <li><a class="text-dark" href="#"><span>Research</span> <span><button class="btn btn-warning fw-bold" style="font-size: 13px;">Whats new?</button></span></a></li>
                    <li><a class="text-dark" href="#">Press</a></li>
                    <li><a class="text-dark" href="#">Release</a></li>


                </ul>
            </div>
            <div class="col-lg-2 col-md-6" style="font-size: 13px;">
                <h6 class="text-muted ">Uizard for</h6>
                <ul class="list-unstyled text-muted">
                    <li><a class="text-dark" href="#">Product Manager</a></li>
                    <li><a class="text-dark" href="#">UX Professionals</a></li>
                    <li><a class="text-dark" href="#">Startup Founders</a></li>
                    <li><a class="text-dark" href="#">Consultants</a></li>
                    <li><a class="text-dark" href="#">Developers</a></li>
                    <li><a class="text-dark" href="#">Enterprice</a></li>

                </ul>
            </div>
            <div class="col-lg-2 col-md-6" style="font-size: 13px;">
                <h6 class="text-muted ">Legal</h6>
                <ul class="list-unstyled text-muted">
                    <li><a class="text-dark" href="#">Privacy Policy</a></li>
                    <li><a class="text-dark" href="#">Terms of service</a></li>
                </ul>

                <h6 class="text-muted ">Social Media</h6>
                <ul class="list-unstyled text-muted">
                    <li><a class="text-dark" href="#">Facebook</a></li>
                    <li><a class="text-dark" href="#">Twitter</a></li>
                    <li><a class="text-dark" href="#">Linkedin</a></li>
                    <li><a class="text-dark" href="#">Instagram</a></li>
                    <li><a class="text-dark" href="#">Dribble</a></li>

                </ul>

            </div>
        </div>
    </div>
</footer>
