section{
    
    margin-top: 6rem;
    h1{
        font-size: 56px;
    }
    p{
        font-size: 1.65rem;
    }
}
.container-fluid{
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 3rem;
    .cardContainer{
        margin-left: auto;
        margin-right: auto;
       
        width:350px;
        padding:1.5rem;
        box-sizing: border-box;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 0.25rem;
        .hide,.view{
           margin-left: -25px;
            img{
                width: 17px;
                height: auto;
            }
        }
    }
}