<section class="forgotpwd">
    <div class="container-fluid">
        <h1 class="text-center">Enter your new password..</h1>
        <div class="cardContainer ">
            
           <div class="passwordSection ">
                <div class="createPwd " >
                        <label>enter new password :</label>
                        <input type="password" required  (keypress)="Enterpwd($event)"> 
                        <span class="view" *ngIf="IsHide"><img src="./assets/images/view.png" alt=""></span>
                        <span class="hide" *ngIf="IsView"><img src="./assets/images/hide.png" alt=""></span>
                </div>
                <div class="ReenterPwd " >
                    <label>re-enter new password :</label>
                    <input type="password" required (keypress)="reEnterpwd($event)"> 
                    <span class="view" *ngIf="IsHide"><img src="./assets/images/view.png" alt=""></span>
                    <span class="hide" *ngIf="IsView"><img src="./assets/images/hide.png" alt=""></span>
                </div>
                <div class="btngrp  mt-2">
                    <button class="btn btn-warning">Submit</button>
                </div>
           </div>
        </div>
    </div>

</section>
